@keyframes bounce {
  from {
    position: relative;
    top: 0;
  }
  to {
    position: relative;
    top: 1px;
  }
}

.container {
  padding: 48px;

  h1 {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 12px;
  }

  > p span {
    animation: bounce 0.5s ease infinite forwards;

    &:nth-child(1) {
      animation-delay: 0s;
    }

    &:nth-child(2) {
      animation-delay: 0.1s;
    }

    &:nth-child(3) {
      animation-delay: 0.2s;
    }
  }
}

.controls {
  margin-top: 12px;
  padding-bottom: 24px;
  border-bottom: 1px solid white;

  button {
    padding: 12px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    margin-right: 12px;

    &.startBtn {
      background: #27ae60;
      color: white;
    }

    &.leaveBtn {
      background: #e74c3c;
      color: white;
    }

    &.settingsBtn {
      background: #3498db;
      color: white;
    }
  }
}

.bottom {
  display: grid;
  grid-template-columns: 70% 30%;
  grid-template-rows: 1fr;

  > * {
    padding: 24px;
  }

  .playerList {
  }

  .chat {
    border: 1px solid white;
    border-top: none;
  }
}
