@keyframes bounce {
  from {
    position: relative;
    top: 0;
  }
  to {
    position: relative;
    top: 1px;
  }
}

.container {
  margin: 48px;
  height: calc(100vh - 96px);

  h1 {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 12px;
  }

  > .top p span {
    animation: bounce 0.5s linear infinite forwards;

    &:nth-child(1) {
      animation-delay: 0s;
    }

    &:nth-child(2) {
      animation-delay: 0.1s;
    }

    &:nth-child(3) {
      animation-delay: 0.2s;
    }
  }
}

.controls {
  margin-top: 12px;
  padding-bottom: 24px;

  button {
    padding: 12px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    margin-right: 12px;

    &.startBtn {
      background: #27ae60;
      color: white;
    }

    &.leaveBtn {
      background: #e74c3c;
      color: white;
    }

    &.settingsBtn {
      background: #3498db;
      color: white;
    }
  }
}

.top {
  height: 15%;
}

.bottom {
  border-top: 1px solid white;
  height: 85%;
  display: grid;
  grid-template-columns: 70% 30%;
  grid-template-rows: 1fr;

  > * {
    padding: 24px;
  }

  .playerList {
    display: grid;
    grid-auto-rows: min-content;
    grid-template-columns: repeat(auto-fill, 150px);
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 24px;
    padding-left: 0;
    overflow-y: auto;
  }
}

.right {
  position: relative;
  overflow-y: hidden;
  border: 1px solid white;
  border-top: none;

  > div {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: black;
    padding: 20px;
    transition: transform 0.5s ease-in-out;
  }

  .chat {
  }

  .settings {
    transform: translateY(-100%);
    background: green;
    overflow-y: scroll;
  }

  &.settingsOpen {
    .settings {
      transform: translateY(0);
    }

    .chat {
      transform: translateY(100%);
    }
  }
}
